.debug .app-container {
  color: green;
}

.debug .app-container > * {
  border: 1px solid red;
}

.debug .app-container aside {
  background-color: grey;
}

.debug .app-container .song-container > * {
  border: 1px solid blue;
}

.debug .app-container .song-container header {
  border: 1px solid blue;
  background-color: aquamarine;
}
.debug .app-container .song-container main {
  border: 1px solid blue;
  background-color: burlywood;
}

.debug footer {
  color: blue;
  background-color: aqua;
}
