/* .debug .app-container {
  color: green;
} */

/* .debug .app-container > * {
  border: 1px solid red;
} */

/*-------section left--------*/
/* .debug .app-container aside {
  background-color: grey;
} */

/* .debug .app-container aside .logo {
  border: 1px solid blue;
} */

/* .debug .app-container aside > * {
  border: 1px solid gold;
} */

/* .debug aside #playlist .top .list-container {
  background-color: green;
}

.debug aside #playlist .top .list-container ul {
  background-color: aqua;
} */

/*-------section right--------*/
/* .debug .app-container .song-container > * {
  border: 1px solid blue;
}

.debug .app-container .song-container header {
  border: 1px solid blue;
} */
/* .debug .app-container .song-container main {
  border: 1px solid blue;
  background-color: burlywood;
} */
/* 
.debug footer {
  color: blue;
  background-color: aqua;
} */

/*-------card song--------*/
/* .debug .my-row {
  border: 1px solid black;
}

.debug .my-row .col-1-6 {
  border: 1px solid green;
} */
