:root {
  --gb-music-section: #141922;
  --bg-nav: #000000;
  --bg-controls-section: #282828;
  --header-height: 5rem;
  --footer-height: 6.25rem;
}

body {
  background-color: var(--gb-music-section);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/*---------------
App container
---------------- */
.app-container {
  display: flex;
  height: calc(100vh - var(--footer-height));
  min-height: 31.25rem;
}
/*-------aside-------*/
.app-container aside {
  width: 20%;
  height: 100%;
  min-width: 6.25rem;
  display: flex;
  flex-direction: column;
}
/*-------song container (right section)-------*/
.app-container .song-container {
  flex-grow: 1;
}

/*------------
header
---------------*/
.app-container .song-container header {
  height: var(--header-height);
}

/*----------
main
-----------*/
.app-container .song-container main {
  height: calc(100vh - var(--footer-height)); /*probabilmente da modificare*/
  overflow-y: auto;
}

/*------------
Footer
-------------*/

footer {
  height: var(--footer-height);
}
