:root {
  --gb-music-section: #141922;
  --bg-nav: #000000;
  --bg-controls-section: #282828;
  --header-height: 5rem;
  --footer-height: 6.25rem;
  --margin-col: 0.625rem;
}

body {
  background-color: var(--gb-music-section);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

.my-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(-1 * (var(--margin-col)));
}

.col-1-6 {
  width: calc((100% / 6) - (var(--margin-col) * 2));
  margin-inline: var(--margin-col);
  margin-block: 1.25rem;
}

/*---------------
App container
---------------- */
.app-container {
  display: flex;
  height: calc(100vh - var(--footer-height));
  min-height: 31.25rem;
}

/*-------aside-------*/
.app-container aside {
  width: 20%;
  height: 100%;
  min-width: 12.5rem;
  display: flex;
  flex-direction: column;
}
/*-------song container (right section)-------*/
.app-container .song-container {
  flex-grow: 1;
}

/* .app-container .song-container .song-list .recent {
  overflow-x: hidden;
} */

/*------------
header
---------------*/
.app-container .song-container header {
  height: var(--header-height);
}

/*----------
main
-----------*/
.app-container .song-container main {
  height: calc(100vh - var(--footer-height));
  overflow-y: auto;
}

/*------------
Footer
-------------*/

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
}
