:root {
  --gb-music-section: #141922;
  --bg-nav: #000000;
  --bg-controls-section: #282828;
  --header-height: 5rem;
  --footer-height: 6.25rem;
  --margin-col: 0.625rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cfcfd1;
  border-radius: 4px;
}

body {
  background-color: var(--gb-music-section);
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: 0;
  background-color: transparent;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(-1 * var(--margin-col));
}

.col-1-6 {
  width: calc((100% / 6) - (var(--margin-col) * 2));
  margin-inline: var(--margin-col);
}

/*---------------
App container
---------------- */
.app-container {
  display: flex;
  height: calc(100vh - var(--footer-height));
  overflow-y: hidden;
}

/*-------aside-------*/
.app-container aside {
  width: 20%;
  min-width: 12.5rem;
  display: flex;
  flex-direction: column;
}

/*-------song container (right section)-------*/
.app-container .song-container {
  width: 100%;
}

.app-container .song-container .song-list .recent {
  overflow-x: hidden;
}

/*------------
header
---------------*/
.app-container .song-container header {
  height: var(--header-height);
}

/*----------
main
-----------*/
.app-container .song-container main {
  height: 100%;

  overflow-y: auto;
}

/*------------
Footer
-------------*/

footer {
  height: var(--footer-height);
}
