/*-----------
Responsive
------------*/
@media screen and (max-width: 1100px) {
  .col-1-4 {
    width: calc((100% / 4) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }

  /*----------
  footer audio
  ------------*/

  footer.controllers .buttons-wrapper-right {
    width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .col-1-2 {
    width: calc((100% / 2) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
  /*------------
  Footer
  --------------*/
  footer.controllers .actual-song .song-info {
    flex-direction: column;
  }

  footer.controllers .actual-song .song-info h3.song-name {
    font-size: 1rem;
    margin-top: 0.3125rem;
  }

  footer .actual-song .song-info .img-wrapper {
    width: 3.125rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
  }

  footer .song-info .autor-container {
    margin-left: 0;
  }

  /*------------
  audio controllers
  -------------*/

  footer.controllers .buttons-wrapper-right {
    width: auto;
  }

  footer.controllers .buttons-wrapper-right .buttons {
    display: flex;
    justify-content: center;
    padding-block: 0.3125rem;
  }

  footer.controllers .buttons-wrapper-right .audio-wrapper {
    flex-direction: column;
    height: 100px;
    margin-inline: 1.25rem;
    padding-block: 0.3125rem;
    width: initial;
  }

  footer.controllers .buttons-wrapper-right .audio-wrapper .progress-bar {
    width: 0.3125rem;
    order: 1;
    height: 1.875rem;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: flex-end;
  }

  footer.controllers
    .buttons-wrapper-right
    .audio-wrapper
    .progress-bar
    .current-bar {
    width: 0.3125rem;
    height: 20%;
  }

  footer.controllers .buttons-wrapper-right .audio-wrapper i {
    order: 2;
  }
}

@media screen and (max-width: 600px) {
  .app-container aside {
    width: 20%;
    height: 100%;
    min-width: none;
    display: flex;
    flex-direction: column;
  }
  .app-container aside {
    width: 10%;
    height: 100%;
    min-width: 3.125rem;
    display: flex;
    flex-direction: column;
  }

  aside #page-container .logo img:not(#small) {
    display: none;
  }

  aside #page-container .logo {
    margin-left: 0;
  }

  aside #page-container .logo a {
    margin-inline: auto;
  }

  aside #page-container .logo a.img-small {
    height: 100%;
    display: block;
    line-height: var(--header-height);
    text-align: center;
  }

  aside #page-container .logo img#small {
    height: 1.875rem;
    display: inline-block;
    vertical-align: middle;
  }

  aside #page-container .page li a .text {
    display: none;
  }

  aside #page-container .page li {
    padding-inline: 0.625rem;
  }

  aside #page-container .page li.active {
    padding-inline: calc(0.625rem - 0.1875rem);
  }

  /*------playlist------*/

  aside #playlist {
    overflow: initial;
  }

  aside #playlist .top,
  aside #playlist .bottom {
    padding-inline: 0.5rem;
  }

  aside #playlist .top {
    display: none;
  }

  aside #playlist .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  aside #playlist .bottom .profile #profile-name {
    display: none;
  }

  aside #playlist .bottom a .text {
    display: none;
  }

  aside #playlist .bottom a img {
    width: 1.875rem;
    height: 1.875rem;
  }

  aside #playlist .bottom .profile .img-wrapper {
    margin-inline: auto;
  }

  /*------------
  audio section
  -----------*/

  footer .song-options {
    flex-direction: column;
  }

  footer.controllers .buttons-wrapper-right .buttons {
    flex-direction: column;
  }

  footer.controllers .buttons-wrapper-right .buttons {
    min-width: 0;
  }

  footer.controllers .buttons-wrapper-right .buttons button:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  footer.controllers .buttons-wrapper-right .audio-wrapper {
    display: none;
  }
}
