@import url(./reset.css);
@import url(./general.css);
@import url(./debug.css);
/*----------
aside
-----------*/

/*--- section page container ----*/
.app-container aside {
  background-color: black;
  color: #6a6d72;
}

.app-container aside a {
  color: #6a6d72;
}

aside #page-container {
  margin-bottom: 1.25rem;
}

aside #page-container .page:not(:first-child) {
  margin-bottom: 0.5rem;
}

aside #page-container .page a {
  line-height: 150%;
}

aside #page-container .logo {
  height: var(--header-height);
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

aside #page-container .logo img:not(#small) {
  width: 60%;
  display: block;
}

aside #page-container .logo img#small {
  height: 3.125rem;
  display: none;
}

aside #page-container .page li {
  line-height: 1.875rem;
  margin-bottom: 0.625rem;
  padding-inline: 1.25rem;
}

aside #page-container .page li a {
  font-weight: 700;
  transition: color 200ms ease-in-out;
}

aside #page-container .page li:hover a {
  color: #fff;
}

aside #page-container .page li a.active {
  color: #fff;
}

aside #page-container .page li:has(a.active) {
  border-left: 0.1875rem solid #adff2f;
  padding-inline: calc(1.25rem - 0.1875rem);
}

aside #page-container .page li a.active img {
  opacity: 1;
}

aside #page-container .page li:hover a img {
  opacity: 1;
}

aside #page-container .page li a img {
  height: 1.875rem;
  vertical-align: middle;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

/*--- section page container ----*/

aside #playlist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside #playlist .top {
  padding-inline: 1.25rem;
}

aside #playlist .top h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #fff;
}

aside #playlist .top button#create-playlist {
  line-height: 1.875rem;
  vertical-align: middle;
  margin-block: 0.625rem;
  text-transform: capitalize;
  cursor: pointer;
}

aside #playlist .top button#create-playlist span:not(.text-button) {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1.25rem;
  transition: background-color 200ms ease-in-out;
}

aside #playlist .top button#create-playlist:hover span.text-button {
  color: #fff;
}

aside #playlist .top button#create-playlist:hover span:not(.text-button) {
  background-color: #fff;
}

aside #playlist .top button#create-playlist span.text-button {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 0.3125rem;
  transition: color 200ms ease-in-out;
}

aside #playlist .top .list-container {
  height: 200px;
  max-height: 30vh;
  overflow-y: auto;
}

aside #playlist .top .list-container ul {
  overflow-y: hidden;
}

aside #playlist .top .list-container ul li {
  padding-block: 0.625rem;
}
aside #playlist .top .list-container ul li a {
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: color 200ms ease-in-out;
}

aside #playlist .top .list-container ul li:hover a {
  color: #fff;
}

aside #playlist .bottom {
  padding-inline: 1.25rem;
}

aside #playlist .bottom a {
  padding-block: 0.625rem;
  display: flex;
  align-items: center;
  transition: color 200ms ease-in-out;
}

aside #playlist .bottom a:hover {
  color: #fff;
}

aside #playlist .bottom a img {
  width: 1.25rem;
  margin-right: 0.3125rem;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

aside #playlist .bottom a:hover img {
  opacity: 1;
}

aside #playlist .bottom .profile {
  padding-block: 0.625rem;
  border-top: 0.0625rem solid #ccc;
  display: flex;
  align-items: center;
}

aside #playlist .bottom .profile .img-wrapper {
  width: 1.5625rem;
  height: 1.5625rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.125rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.3125rem;
}

aside #playlist .bottom .profile .img-wrapper img {
  width: 100%;
  height: 100%;
}

aside #playlist .bottom .profile h3 {
  color: #fff;
}
aside #playlist .bottom .profile > * {
  display: inline-block;
}

/*----------
Song container (section right)
---------*/
.song-container header {
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.song-container header a {
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}

.song-container header a:hover {
  transform: scale(1.1);
}

/*---navigation main----*/
.content-container,
main header {
  padding: 0.9375rem;
}
.song-container {
  background-color: var(--gb-music-section);
  color: rgba(255, 255, 255, 0.5);
}

.song-container .nav-main ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.song-container .nav-main ul li + li {
  margin-left: 1rem;
}
.song-container .nav-main ul li a {
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transition: color 200ms ease-in-out;
}

.song-container .nav-main ul li:hover a {
  color: #fff;
}

.song-container .nav-main ul li.nav-active::after {
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  background-color: #adff2f;
  display: block;
  margin-inline: auto;
}
/*---sogn list----*/
.song-list > * {
  margin-bottom: 1.25rem;
}

.content-container h2 {
  color: #fff;
  margin-bottom: 0.9375rem;
}

.content-container span.section-subtitle {
  margin-bottom: 0.9375rem;
  display: inline-block;
}

.content-container .card-song {
  text-align: center;
  height: 100%;
}

.populars .content-container .song-recent {
  margin-inline: 0.625rem;
}

.content-container .card-song .img-wrapper {
  height: 150px;
  position: relative;
}

.content-container .card-song .img-wrapper .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.content-container .card-song:hover .img-wrapper .overlay {
  opacity: 1;
}

.content-container .card-song .img-wrapper .overlay i {
  font-size: 2.5rem;
  color: #fff;
}

.populars .content-container .card-song .img-wrapper {
  height: 12.5rem;
}

.populars .content-container .card-song .img-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.content-container .card-song .img-wrapper img {
  width: 100%;
  height: 100%;
}

.content-container .card-song .song-name {
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
  margin-block: 0.9375rem;
}

.content-container .card-song span {
  font-size: 0.75rem;
  display: block;
  margin-bottom: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
}

/*-----------
Footer
-----------*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

footer.controllers .actual-song,
footer.controllers .actual-song .song-info,
footer.controllers .buttons-wrapper-right {
  display: flex;
}

footer .player-wrapper > * {
  text-align: center;
}

footer.controllers .actual-song .song-info,
footer.controllers .buttons-wrapper-right:first-child {
  margin-right: 0.625rem;
}

footer.controllers .buttons-wrapper-right:last-child .audio-wrapper {
  margin-left: 0.625rem;
}

/*-----------
Responsive
------------*/
@media screen and (max-width: 1100px) {
  .col-1-4 {
    width: calc((100% / 4) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}

@media screen and (max-width: 700px) {
  .col-1-2 {
    width: calc((100% / 2) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}

@media screen and (max-width: 600px) {
  .app-container aside {
    width: 20%;
    height: 100%;
    min-width: none;
    display: flex;
    flex-direction: column;
  }
  .app-container aside {
    width: 10%;
    height: 100%;
    min-width: 3.125rem;
    display: flex;
    flex-direction: column;
  }

  aside #page-container .logo img:not(#small) {
    display: none;
  }

  aside #page-container .logo {
    margin-left: 0;
  }

  aside #page-container .logo a {
    margin-inline: auto;
  }

  aside #page-container .logo img#small {
    height: 1.875rem;
    display: block;
    margin-inline: auto;
  }

  aside #page-container .page li a .text {
    display: none;
  }

  aside #playlist .top {
    display: none;
  }

  aside #playlist .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  aside #playlist .bottom .profile #profile-name {
    display: none;
  }

  aside #playlist .top,
  aside #playlist .bottom {
    padding-inline: 0.5rem;
  }

  aside #playlist .bottom a .text {
    display: none;
  }

  aside #playlist .bottom a img {
    width: 1.875rem;
    height: 1.875rem;
  }

  aside #page-container .page:not(:first-child) {
    padding-inline: 0.5rem;
  }

  aside #page-container .page li {
    padding-inline: 0.3125rem;
  }

  aside #page-container .page li:has(a.active) {
    padding-inline: calc(0.3125rem - 0.1875rem);
  }
}
