@import url(./reset.css);
@import url(./general.css);
@import url(./debug.css);
/*----------
aside
-----------*/

/*--- section page container ----*/
aside #page-container .logo {
  min-height: var(--header-height);
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
}

aside #page-container {
  margin-bottom: 1.25rem;
}

aside #page-container .page:not(:first-child) {
  padding-inline: 1.25rem;
  margin-bottom: 0.5rem;
}

aside #page-container .page a {
  line-height: 150%;
}

/*--- section page container ----*/

aside #playlist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside #playlist .top {
  padding-inline: 1.25rem;
}

aside #playlist .top h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
}

aside #playlist .top button#create-playlist {
  line-height: 1.875rem;
  vertical-align: middle;
  margin-block: 0.625rem;
  text-transform: capitalize;
}

aside #playlist .top button#create-playlist span:not(.text-button) {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  background-color: #fff;
  font-size: 1.25rem;
}

aside #playlist .top .list-container {
  height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
}

aside #playlist .top .list-container ul {
  overflow-y: hidden;
}

aside #playlist .top .list-container ul li {
  padding-block: 0.625rem;
}
aside #playlist .top .list-container ul li a {
  line-height: 1.25rem;
}

aside #playlist .bottom {
  padding-inline: 1.25rem;
}

aside #playlist .bottom a {
  padding-block: 0.625rem;
}

aside #playlist .bottom .profile {
  padding-block: 0.625rem;
  border-top: 0.0625rem solid #ccc;
}
aside #playlist .bottom .profile > * {
  display: inline-block;
}

/*----------
Song container (section right)
---------*/
.song-container header {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*---navigation main----*/
.content-container,
main header {
  padding: 0.9375rem;
}
.song-container .nav-main ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.song-container .nav-main ul li + li {
  margin-left: 1rem;
}
.song-container .nav-main ul li a {
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
}
/*---sogn list----*/
.song-list > * {
  margin-bottom: 1.25rem;
}

/*-----------
Responsive
------------*/
@media screen and (max-width: 1100px) {
  .col-1-4 {
    width: calc((100% / 4) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}

@media screen and (max-width: 700px) {
  .col-1-2 {
    width: calc((100% / 2) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}

@media screen and (max-width: 600px) {
  .app-container aside {
    width: 20%;
    height: 100%;
    min-width: none;
    display: flex;
    flex-direction: column;
  }
  .app-container aside {
    width: 10%;
    height: 100%;
    min-width: 3.125rem;
    display: flex;
    flex-direction: column;
  }

  aside #playlist .top .list-container {
    display: none;
  }

  aside #playlist .top h2 {
    display: none;
  }

  aside #playlist .top button#create-playlist span.text-button {
    display: none;
  }

  aside #playlist .bottom .profile #profile-name {
    display: none;
  }

  aside #playlist .top,
  aside #playlist .bottom {
    padding-inline: 0.5rem;
  }

  aside #page-container .page:not(:first-child) {
    padding-inline: 0.5rem;
  }
}
