@import url(./reset.css);
@import url(./general.css);
@import url(./debug.css);
/*----------
aside
-----------*/

/*--- section page container ----*/
aside #page-container .logo {
  min-height: var(--header-height);
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
}

aside #page-container {
  margin-bottom: 1.25rem;
}

aside #page-container .page:not(:first-child) {
  padding-inline: 1.25rem;
  margin-bottom: 0.5rem;
}

aside #page-container .page a {
  line-height: 150%;
}

/*--- section page container ----*/

aside #playlist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside #playlist .top {
  padding-inline: 1.25rem;
}

aside #playlist .top h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
}

aside #playlist .top button#create-playlist {
  line-height: 1.875rem;
  vertical-align: middle;
  margin-block: 0.625rem;
  text-transform: capitalize;
}

aside #playlist .top button#create-playlist span {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  background-color: #fff;
  font-size: 1.25rem;
}

aside #playlist .top .list-container {
  height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
}

aside #playlist .top .list-container ul {
  overflow-y: hidden;
}

aside #playlist .top .list-container ul li {
  padding-block: 0.625rem;
}
aside #playlist .top .list-container ul li a {
  line-height: 1.25rem;
}

aside #playlist .bottom {
  padding-inline: 1.25rem;
}

aside #playlist .bottom a {
  padding-block: 0.625rem;
}

aside #playlist .bottom .profile {
  padding-block: 0.625rem;
  border-top: 0.0625rem solid #ccc;
}
aside #playlist .bottom .profile > * {
  display: inline-block;
}

/*----------
Song container (section right)
---------*/
.song-container header {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
